<section class="products">
    <div class="container">
        <div class="name">
            <p class="name__lable">100% natural</p>
            <H2 class="name__title">PRODUCTS</H2>
            <img src="" alt="">
        </div>
        <ul class="products__list">
            <li class="products__item">
                <div class="products__card">
                    <h3 class="products__title">ICE CREAM</h3>
                </div>
                <p>
                    
                </p>
            </li>
            <li class="products__item">
                <div class="products__card">
                    <h3 class="products__title">ICE COFFEE</h3>
                </div>
            </li>
            <li class="products__item">
                <div class="products__card">
                    <h3 class="products__title">MILKSHAKES</h3>
                </div>
            </li>
        </ul>
    </div>
</section>